@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./../../node_modules/react-toastify/dist/ReactToastify.css";

:root {
  --foreground-rgb: 0, 0, 0;
  --background-color-rgb: 242, 242, 242;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-color-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-color-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
